body {
  background-color: lightyellow;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table {
  position: absolute;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
}

img.beautiful{
  width: 100%;
}

div.atTable {
  position: absolute;
  width: 25vw;
  height: 15vw;
  margin-left: 50%;
  margin-right: 50%;
  text-align: center;
  left: -9.5vw;
}

div.dealer {
  top: 4vw;
}

div.player {
  top: 59%;
}

div.atTable img {
  position: absolute;
  height: 90%;
}



div.bank-console {
  position: absolute;
  width: 25vw;
  height: 6vw;
  left: 0;
  top: 0;
  font-size: 2.5vw;
  padding: 1.5vw;
  color: white;
  font-family: 'Playball', cursive;
}

div.console {
  position: absolute;
  width: 35vw;
  height: 8vw;
  right: 0;
  top: 0;
  text-align; right;
}

div.text {
  position: relative;
  font-size: 2.5vw;
  text-align: right;
  color: white;
  margin: 1.5vw;
  vertical-align: text-top;
  font-family: 'Playball', cursive;
}

div.buttons {
  position: absolute;
  display: inline-block;
  bottom: 1vw;
  width: 100%;
}

.bet{
  align-items: flex-end;
  right: 1vw;
  float: left;
}

.deal, .inGame, .postGame{
  align-items: flex-end;
  right: 1vw;
  float: right;
}
