body {
  background-color: lightyellow;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table {
  position: absolute;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
}

div.atTable {
  position: absolute;
  border: 1px dotted black;
  width: 25vw;
  height: 15vw;
  margin-left: 50%;
  margin-right: 50%;
  text-align: center;
  left: -12.5vw;
}

div.dealer {
  top: 4vw;
}

div.player {
  top: 59%;
}

div.atTable img {
  position: absolute;
  height: 90%;
}


div.buttons  {
  position: absolute;
  font-size: 2vw;
  display: inline-block;
  float: right;
  bottom: 1vw;
  right: 1vw;
}

buttons {
  font-size: 30px;
  color: #FFFFFF;
  align-items: flex-end;
}

img.beautiful{
  width: 100%;
}
