body {
  background-color: lightyellow;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  /*background-color: green;*/
  position: relative;
}

div.buttons {
  vertical-align: bottom;
  position: absolute;
  display: inline-block;
  float: right;
  font-size: 0.75em;
  bottom: 10px;
  right: 10px;
}

img.beautiful{
  width: 100%;
}


@media (min-width: 900px) {

}

@media (max-width: 900px) {

}
